<form (ngSubmit)="onSubmit()">
    <div class="input-group">
        <label for="initial-investment">Initial Investment</label>
        <input type="number" id="initial-investment" name="initial-investment" [(ngModel)]="enteredInitialInvestment" />


        <label for="annual-investment">Annual Investment</label>
        <input type="number" id="annual-investment" name="annual-investment" [(ngModel)]="enteredAnnualInvestment" />
    </div>

    <div class="input-group">
        <label for="expected-return">Expected Return</label>
        <input type="number" id="expected-return" name="expected-return" [(ngModel)]="enteredExpectedReturn" />

        <label for="expected-return">Duration</label>
        <input type="number" id="duration" name="duration" [(ngModel)]="enteredDuration" />
    </div>
    <button type="submit">Submit</button>
</form>

<app-investment-results *ngIf="annualData.length > 0" [annualData]="getAnnualData" />